project_id = "anknmcmqljejabxbeohv"

[functions.federated-auth-init]
verify_jwt = false

[functions.federated-auth-callback]
verify_jwt = false

[functions.sync-federated-profile]
verify_jwt = true

[functions.send-follow]
verify_jwt = false